/* ==========================================================
   ELEMENTOS GERAIS
========================================================== */

img,
picture,
svg,
video,
canvas{
    display:block;
    max-width:100%;
}

button,
input,
textarea,
select{
    font:inherit;
    background:none;
    border:none;
    outline:none;
}

button{
    cursor:pointer;
}

a{
    color:inherit;
    text-decoration:none;
}

ul,
ol{
    list-style:none;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}

/* ==========================================================
   CONTAINER PADRÃO
========================================================== */

.container{
    width:100%;
    max-width:600px;
    min-height:100vh;
    min-height:100dvh;
    margin:auto;
}

/* ==========================================================
   BOTÕES
========================================================== */

.btn{
    height:3.25rem;
    transition:.25s;
}

.btn-primario{
    width:100%;
    background:var(--azul-escuro);
    color:var(--branco);
    border:1px solid var(--azul-principal);
    border-top-right-radius:var(--borda-media);
    border-bottom-left-radius:var(--borda-media);
}

.btn-primario:hover{
    opacity:.9;
}

.btn-secundario{
    width:53%;
    background:transparent;
    color:var(--azul-escuro);
    border:1px solid var(--azul-principal);
    border-top-left-radius:var(--borda-media);
    border-bottom-right-radius:var(--borda-media);
}


/* ==========================================================
   INPUT
========================================================== */

input{
    width: clamp(16.5rem,19vw,22rem);
    height:3rem;
    transition:.25s;
    background:transparent;
    padding:0 1rem 0 1rem;
    color:var(--cinza);
    border:1px solid var(--azul-principal);
    border-top-right-radius:var(--borda-media);
    border-bottom-left-radius:var(--borda-media);
}

/* ==========================================================
   ESTADOS DOS INPUTS
========================================================== */

.input-verde{
    border:1px solid var(--verde);
}

.input-amarelo{
    border:1px solid var(--laranja);
}

.input-vermelho{
    border:1px solid var(--vermelho);
}

/* ==========================================================
   FEEDBACK
========================================================== */

.feedback{
    display:block;
    min-height:1rem;
    font-size:var(--fs-100);
    font-weight:500;
    margin-inline-start: 1.5rem;
    transition:.25s;
}

.feedback-verde{
    color:var(--verde);
}

.feedback-amarelo{
    color:var(--laranja);
}

.feedback-vermelho{
    color:var(--vermelho);
}

/* ==========================================================
   BOTÃO DE VOLTAR
========================================================== */


.voltar{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    width:100%;
    padding:3rem 0 0 3rem;
}

/* ==========================================================
   BOTÃO DESABILITADO
========================================================== */

.btn:disabled{

    opacity:.45;

    cursor:not-allowed;

    pointer-events:none;

}


/* ==========================================================
   COMPONENTES DO DASHBOARD EM DIANTE
========================================================== */



/* ==========================================================
   CARD PADRÃO
========================================================== */

.card{
    width:100%;
    background:var(--branco);
    border-radius:var(--borda-grande);
    box-shadow:var(--sombra-leve);
    min-height: 10rem;
    padding:1.25rem;
    overflow:hidden;
}

/* ==========================================================
   ALERTAS
========================================================== */

.card-alerta{

    display:flex;
    width: 100%;
    align-items:center;
    border-radius: 5rem;
    background:var(--branco);
    box-shadow:var(--sombra-leve);
    transition:.25s;
    min-height:5rem;
    padding:1rem 1.25rem;
    margin-bottom:1rem;

}

.card-alerta:hover{

    transform:translateY(-2px);

    box-shadow:var(--sombra-media);

}

/* ==========================================================
   ALERTA VAZIO
========================================================== */

.alerta-vazio{

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    min-height:7rem;

    padding:2rem;

    border-radius:var(--borda-media);

    background:var(--branco);

    color:var(--cinza);

    box-shadow:var(--sombra-leve);

    line-height:1.5;

}

/* ==========================================================
   LOCALIZAÇÃO
========================================================== */


.localizacao{

    display:flex;

    justify-content:center;

    align-items:center;


    border-radius:999px;

    background:var(--azul-claro);

}

.localizacao strong{

    color:var(--azul-escuro);

    font-size:var(--fs-100);

}

/* ==========================================================
   STATUS
========================================================== */

.status{

    width:.9rem;
    height: .9rem;
    border-radius:50%;
    margin-inline-end: 1rem;

}

/* ==========================================================
   AVATAR
========================================================== */

.avatar{
    display:flex;
    justify-content:center;
    align-items:center;
    width:3rem;
    height:3rem;
    overflow:hidden;
    border-radius:50%;
    background:var(--azul-claro);
    box-shadow:var(--sombra-leve);
    flex-shrink:0;
    transition:.25s;
}

.avatar:hover{

    transform:scale(1.05);

}

.avatar img{

    width:100%;
    height:100%;
    object-fit:cover;

}

/* ==========================================================
   MENU INFERIOR
========================================================== */

.menu-inferior{

    position:fixed;
    width:100%;
    height: 3rem;
    background:var(--branco);
    display:flex;
    justify-content:space-around;
    align-items:center;
    min-height:3rem;
    padding: 1rem;
    border-radius: 5rem;
    box-shadow:0 -6px 20px rgba(0,0,0,.05);
    left:50%;
    transform:translateX(-50%);
    bottom:1rem;
    width:calc(100% - 5rem);
}



.menu-inferior button{

    display:flex;
    flex-direction:column;
    align-items:center;
    color:var(--cinza);
    transition:.25s;

}

.menu-inferior span{

    font-size: 2rem;

}

.menu-inferior p{

    font-size: var(--fs-100);

}

.menu button.ativo{

    color:var(--azul-principal);

}






