/* ==========================================================
   ELEMENTOS GERAIS
========================================================== */

img,
picture,
svg,
video,
canvas{
    display:block;
    max-width:100%;
}

button,
input,
textarea,
select{
    font:inherit;
    background:none;
    border:none;
    outline:none;
}

button{
    cursor:pointer;
}

a{
    color:inherit;
    text-decoration:none;
}

ul,
ol{
    list-style:none;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}

/* ==========================================================
   CONTAINER PADRÃO
========================================================== */

.container{
    width:100%;
    max-width:600px;
    min-height:100vh;
    min-height:100dvh;
    margin:auto;
}

/* ==========================================================
   BOTÕES
========================================================== */

.btn{
    height:3.25rem;
    transition:.25s;

}

.btn-primario{
    width:100%;
    background:var(--azul-escuro);
    color:var(--branco);
    border:1px solid var(--azul-principal);
    border-top-right-radius:var(--borda-grande);
    border-bottom-left-radius:var(--borda-grande);
}

.btn-primario:hover{
    opacity:.9;
}

.btn-secundario{
    width:53%;
    background:transparent;
    color:var(--azul-escuro);
    border:1px solid var(--azul-principal);
    border-top-left-radius:var(--borda-grande);
    border-bottom-right-radius:var(--borda-grande);
}
