/* ==========================================================
   HOME
========================================================== */

body{

    background:var(--azul-700);

}

/* ==========================================================
   TELA INICIAL
========================================================== */

.inicio{

    width:100%;
    min-height:100vh;
    min-height:100dvh;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:var(--esp-6);

}

/* ==========================================================
   LOGO
========================================================== */

.logo{

    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;

    text-align:center;

}

.logo h1{

    color:var(--branco);

    font-size:clamp(3rem,8vw,5rem);

    font-weight:700;

    letter-spacing:.3rem;

    text-transform:uppercase;

    user-select:none;

}