/* ==========================================================
   RESET
========================================================== */

*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* ==========================================================
   DOCUMENTO
========================================================== */

html{
    font-size:16px;
    scroll-behavior:smooth;
    -webkit-text-size-adjust:100%;
}

body{
    min-height:100vh;
    min-height:100dvh;
    overflow-x:hidden;
}

/* ==========================================================
   RESPONSIVIDADE GLOBAL
========================================================== */

/* Tablets */

@media (min-width:768px){

    html{
        font-size:17px;
    }

}

/* Notebook/Desktop */

@media (min-width:1200px){

    html{
        font-size:18px;
    }

}