/* ==========================================================
   CADASTRO
========================================================== */

body{

    background:var(--branco);

}

/* ==========================================================
   CARD
========================================================== */

.login{
        
    display:flex;
    position:fixed;
    inset:0;
    align-items:flex-end;
    width:100%;
    min-height:85dvh;
    flex-direction:column;
}


/* ==========================================================
   TOPO
========================================================== */


.login h1{
    font-size:var(--fs-900);
    margin-bottom:2rem;
    align-self:center;
}

/* ==========================================================
   FORMULÁRIO
========================================================== */

.login-form{

    gap: var(--esp-4);
    display:flex;
    flex-direction:column;
    align-self:center;
}

.campo{
    display:flex;
    width:100%;
    flex-direction:column;
    gap:.75rem;
    margin-block-end:var(--esp-1);

}



.campo-senha{

    position:relative;
    width:100%;

}

.campo-senha button{
    position:absolute;
    right:1rem;
    top:50%;
    transform:translateY(-50%);
}

.esqueci{

    text-align:center;

    font-size:var(--fs-200);

    color:var(--preto);
    margin-bottom:3rem;

}

#cadastro{

    text-align:center;

    font-size:var(--fs-200);

    color:var(--preto);
    margin-bottom:3rem;

}

.btn-login{

    width:85%;
    align-self:center;

}

#termoTexto{
    display: flex;
    padding: 0;
    margin: 0;
    height: 2rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;

}

/* ==========================================================
   ERRO NOS TERMOS
========================================================== */


p#termoTexto.erro{

    color:var(--vermelho) !important;

}


button#btnTermos.erro{
    border:1px solid var(--vermelho) !important;
    color:var(--vermelho) !important;
}

#termos{
    display: flex;
    width: 1.2rem;
    margin-inline-end: 0.5rem;
    border-radius: 2rem;
    accent-color:var(--azul-principal);

}

#termos.erro{

    accent-color:var(--vermelho);

}



@media (max-height: 790px){
.campo{
    display:flex;
    width:100%;
    flex-direction:column;
    gap:.75rem;
}

}


