/* ==========================================================
   DASHBOARD
========================================================== */

body{

    background-color:var(--azul-claro);
}

.dashboard{
    display:flex;
    flex-direction:column;
    width:100%;
    min-height:100dvh;
    align-items:center;
    bottom:1rem;
    width:calc(100% - 5rem);


}

/* ==========================================================
   CABEÇALHO
========================================================== */

.cabecalho{
    display: flex;
    margin-bottom: 2rem;
    width:100%;
    background-color:var(--branco);
    border-radius: 999rem;
    min-height:50px;
    margin-bottom:1.5rem;
    padding:0 1rem;


}

.usuario{
    min-width:0;
    padding: 1%;
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:100%;

}

/* ==========================================================
   TEXTO DO USUÁRIO
========================================================== */

.usuario-texto{

    flex-direction:column;
    line-height: 0.1;
    padding-block-start: .8rem;

}

#saudacao{

    font-size:var(--fs-100);
    color:var(--azul-principal);

}

#nomeUsuario{

    font-size:var(--fs-200);
    color:var(--azul-escuro);

}

/* ==========================================================
   TÍTULO DA SEÇÃO
========================================================== */

.titulo-secao{

    display:flex;
    align-items:center;

}

.titulo-secao h3{

    font-size:var(--fs-300);

    font-weight:600;
    color:var(--azul-escuro);
}

/* ==========================================================
   LISTA DE ALERTAS
========================================================== */

.lista-alertas{

    display:flex;
    flex-direction:column;
    width:100%;
    gap:var(--esp-3);

}

#local-pin{
        font-size: var(--fs-100);
        color: var(--preto);
}


/* ==========================================================
   CARD DE RISCO
========================================================== */

.titulo-card{
    font-size:var(--fs-100);
    font-weight:600;
    color:var(--cinza);
    line-height: 0;
}

.risco{
    display:flex;
    align-items:center;
    flex-direction: row;
    line-height: 0;
}

.risco .material-symbols-outlined{

    font-size: 1.9rem;

}

.risco h2{
    font-size:var(--fs-700);
    line-height: 0;
    font-weight:600;
}

.atualizado{

    color:var(--cinza);
    line-height: 0;
    font-size:var(--fs-200);

}

/* ==========================================================
   NÍVEL DA ÁGUA
========================================================== */

.nivel{

    display:flex;

    flex-direction:column;

    gap:.75rem;

}

.nivel-topo{

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.nivel-topo span{

    font-size:var(--fs-100);

    color:var(--cinza);

    font-weight:500;

}

/* ==========================================================
   BARRA DE PROGRESSO
========================================================== */

.barra{

    width:100%;

    height:.7rem;

    overflow:hidden;

    border-radius:999px;

    background:var(--azul-claro);

}

.barra-preenchimento{

    height:100%;

    width:0;

    border-radius:999px;

    background:var(--azul-principal);

    transition:width .8s ease;

}

/* ==========================================================
   SEM DISPOSITIVO
========================================================== */

.sem-dispositivo{

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    gap:1rem;

}

.sem-dispositivo .material-symbols-outlined{

    font-size:4rem;

    color:var(--azul-principal);

}

.sem-dispositivo h3{

    color:var(--azul-escuro);

    font-size:var(--fs-600);

    font-weight:600;

    line-height:1.3;

}

.sem-dispositivo p{

    color:var(--cinza);

    line-height:1.5;

}


/* ==========================================================
   TEXTO DO ALERTA
========================================================== */

.texto{
    display:flex;    
    flex-direction:column;
    line-height: 0;
}

.texto h4{
    color:var(--azul-escuro);
    font-size:var(--fs-400);
    font-weight:600;
}

.texto p{
    color:var(--cinza);
    font-size:var(--fs-200);
}


/* ==========================================================
   CARD DE ALERTA
========================================================== */

.alerta-card{

    background:var(--branco);

    border-radius:var(--borda-grande);

    padding:1.5rem;

    box-shadow:var(--sombra-leve);

    display:flex;

    flex-direction:column;

    gap:1rem;

}

.alerta-topo{

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.alerta-topo h2{

    font-size:var(--fs-500);

    font-weight:600;

    color:var(--azul-escuro);

}

.status{

    display:flex;

    align-items:center;

    gap:.45rem;

}

.status span{

    width:.75rem;

    height:.75rem;

    border-radius:50%;

}

.status p{

    font-size:var(--fs-200);

    font-weight:500;

}

/* ==========================================================
   STATUS
========================================================== */

.status.normal span{

    background:var(--verde);

}

.status.normal p{

    color:var(--verde);

}

.status.atencao span{

    background:var(--laranja);

}

.status.atencao p{

    color:var(--laranja);

}

.status.perigo span{

    background:var(--vermelho);

}

.status.perigo p{

    color:var(--vermelho);

}

/* ==========================================================
   MENSAGEM DO ALERTA
========================================================== */

.alerta-texto{

    display:flex;

    flex-direction:column;

    gap:.75rem;

}

.alerta-texto h3{

    font-size:var(--fs-600);

    font-weight:600;

    color:var(--azul-escuro);

    line-height:1.2;

}

.alerta-texto p{

    color:var(--cinza);

    line-height:1.5;

}

/* ==========================================================
   SEM DISPOSITIVO
========================================================== */

.sem-dispositivo{

    display:flex;

    flex-direction:column;

    align-items:center;

    justify-content:center;

    text-align:center;

    gap:1rem;

    padding:2rem 1rem;

}

.sem-dispositivo img{

    width:7rem;

}

.sem-dispositivo h3{

    color:var(--azul-escuro);

    font-size:var(--fs-500);

}

.sem-dispositivo p{

    line-height:1.5;

    color:var(--cinza);

    max-width:18rem;

}

/* ==========================================================
   BOTÃO
========================================================== */

#btnAtualizar{

    margin-top:.5rem;

}

/* ==========================================================
   RESPONSIVIDADE
========================================================== */

@media(min-width:768px){

    .dashboard{

        padding:2rem;

    }

    .cabecalho{

        padding:2rem 0;

    }

    .dashboard-conteudo{

        gap:2rem;

    }

}

@media(min-width:1200px){

    .dashboard{

        max-width:650px;

    }

}

