/* ==========================================================
   LOGIN
========================================================== */

body{

    background:var(--azul-escuro);

}

/* ==========================================================
   CARD
========================================================== */

.login{

    position:fixed;

    inset:0;

    display:flex;

    align-items:flex-end;

}


.login-card{

    width:100%;

    min-height:85dvh;

    background:var(--branco);

    border-radius:2rem 2rem 0 0;

    display:flex;

    flex-direction:column;

}

.login-form,
.voltar{

    padding-inline:var(--esp-6);

}

/* ==========================================================
   TOPO
========================================================== */

#voltar{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    width:100%;
    padding:3rem 0 0 3rem;
}

.login-card h1{
    font-size:var(--fs-900);
    text-align:center;
    margin-bottom:3rem;

}

/* ==========================================================
   FORMULÁRIO
========================================================== */

.login-form{

    display:flex;

    flex-direction:column;

    gap:1.35rem;

    margin-top:1rem;

}

.campo{

    display:flex;

    flex-direction:column;

    gap:.5rem;

}

.campo-senha{

    position:relative;

}

.campo-senha button{

    position:absolute;

    right:1rem;

    top:50%;

    transform:translateY(-50%);

}

.esqueci{

    text-align:center;

    font-size:var(--fs-200);

    color:var(--preto);

}

.btn-secundario{

    align-self:center;

}