/* ==========================================================
   ONBOARDING
========================================================== */

body{

    background:var(--branco);

}

.onboarding{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-items:center;
    grid-template-rows: auto 1fr auto;  
}

.onboarding-conteudo{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    gap:clamp(.5rem,2vw,1.25rem);
    padding-top:clamp(2rem,8vh,9rem);
}

.onboarding-conteudo img{
    max-width:100%;
    height:auto;
}

.onboarding-conteudo p{
    max-width:18rem;
}

#titulo{
    margin-bottom:clamp(1rem,3vh,2rem);
}

#descricao{
    margin-top:0;
}


.indicadores{
    display:flex;
    justify-content:center;
    gap:0.1rem;
    margin-bottom:var(--esp-4);
}

.indicadores span{
    width:.63rem;
    height:.63rem;
    border-radius:50%;
    background:var(--cinza);
    transition:.35s;
}

.onboarding-acoes{
    display:flex;
    width:18rem;
    flex-direction:column;
    align-items:center;
    gap:var(--esp-4);
    padding-top:clamp(1rem,7vh,9rem);
}

.indicadores .ativo{
    width:.90rem;
    border-radius:40%;
    background:var(--azul-escuro);

}