/* ==========================================================
   ONBOARDING
========================================================== */

body{

    background:var(--branco);

}

.onboarding{

    min-height:100vh;

    min-height:100dvh;

    display:flex;

    flex-direction:column;

    justify-content:space-between;

    padding:var(--esp-7);

}

.onboarding-conteudo{

    flex:1;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

}

.onboarding-conteudo img{

    max-width:100%;

    height:auto;

    margin-bottom:var(--esp-4);

}

.onboarding-conteudo p{

    max-width:24rem;

    margin-top:var(--esp-4);

}

.onboarding-rodape{

    display:flex;

    flex-direction:column;

    gap:var(--esp-7);

}

.indicadores{

    display:flex;

    justify-content:center;

    gap:0.3rem;

    margin-bottom:var(--esp-7);

}

.indicadores span{

    width:.65rem;

    height:.65rem;

    border-radius:50%;

    background:var(--cinza);

    transition:.35s;

}

.onboarding-acoes{

    display:flex;

    flex-direction:column;

    gap:var(--esp-4);

}

.indicadores .ativo{

    background:var(--azul-escuro);

}