/* ==========================================================
   HOME
========================================================== */

body{

    background:var(--azul-escuro);

    animation:fundoEntrada 3s ease forwards;

}

@keyframes fundoEntrada{

    from{

        opacity:.70;

    }

    to{

        opacity:1;

    }

}
/* ==========================================================
   TELA
========================================================== */

.inicio{

    width:100%;

    min-height:100vh;

    min-height:100dvh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:var(--esp-6);

}

/* ==========================================================
   LOGO
========================================================== */

.logo{

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

}

