/* ==========================================================
   HOME
========================================================== */

body{

    background:var(--azul-escuro);

}

/* ==========================================================
   TELA
========================================================== */

.inicio{

    width:100%;

    min-height:100vh;

    min-height:100dvh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:var(--esp-6);

}

/* ==========================================================
   LOGO
========================================================== */

.logo{

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

}

.logo h1{

    color:var(--branco);

    letter-spacing:.3rem;

    text-transform:uppercase;

    user-select:none;

}